/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'custom';

// .body {
//   height: 100%;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-image: url('/assets/images/pexels-victoria-borodinova-3745525.jpg');
//   background-size: cover;
//   background-attachment: fixed;
//   background-repeat: no-repeat;
//   }
  
// .body::before {
//   content: "";
//   position: absolute;
//   top: 0px;
//   right: 0px;
//   bottom: 0px;
//   left: 0px;
//   background-color: rgba(255,255,255,0.2);
// }
.body {
  background: url('/assets/images/pexels-victoria-borodinova-3745525.jpg') no-repeat center center fixed; /* The image used */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
// .body::before {
// 	content: "";
// 	position: absolute;
// 	top: 0px;
// 	right: 0px;
// 	bottom: 0px;
// 	left: 0px;
// 	background-color: rgba(255,255,255,0.2);
// }

.photo-credit {
  position: fixed;
  right: 0;
  bottom: 0;
  color: white;
}