.main {
  height: 100vh;
  .content-container {
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    .col-0 {
      flex-shrink: 1;
      transition: all 750ms ease;
    }
    .col-4 {
      flex-grow: 1;
      transition: all 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}